* {
  color: white;
}
.navbar {
  background-color: grey;
}

.nav-header {
  margin: 20px;
  padding-top: 20px;
}

.categories {
  display: flex;
  flex-direction: row;

}

.options {
  margin-right: 40px;
  margin-left: 20px;

}

p:hover {
  border-bottom: 5px solid black;
}

.active-link {
   border-bottom: 5px solid black;
}
